In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
def metadata(titulo, ejex, ejey):
    plt.title(titulo, fontsize = 60, fontweight='bold')
    plt.xlabel(ejex, fontsize = 30)
    plt.ylabel(ejey, fontsize = 30)
    plt.xticks(fontsize = 15)
    plt.yticks(fontsize = 15)
    return
def cifras_signif(i, cifras):
    return str('{:g}'.format(float('{:.{p}g}'.format(i, p = cifras))))

In [10]:
datos = pd.read_csv(
    'C:\\Users\\nahue\\Desktop\\Agro 2\\Tp_4\\Ej_8.txt',
    delimiter = '\t',
    decimal = ',',
    )

In [11]:
datos.head()

   Tbase[C]  T(est127)[C]  T(est110)[C]
0       4.5           5.5           8.5
1       5.0           3.0           8.5
2       4.9           2.5           8.4
3       4.9           2.0          10.0
4       5.0           4.4           5.5

In [12]:
datos['delta_127'] = datos['Tbase[C]'] - datos['T(est127)[C]']
datos['delta_110'] = datos['Tbase[C]'] - datos['T(est110)[C]']

In [13]:
datos.head()

   Tbase[C]  T(est127)[C]  T(est110)[C]  delta_127  delta_110
0       4.5           5.5           8.5       -1.0       -4.0
1       5.0           3.0           8.5        2.0       -3.5
2       4.9           2.5           8.4        2.4       -3.5
3       4.9           2.0          10.0        2.9       -5.1
4       5.0           4.4           5.5        0.6       -0.5

In [14]:
datos['delta_127'].describe()

count    15.000000
mean      1.680000
std       1.002996
min      -1.000000
25%       1.300000
50%       1.600000
75%       2.450000
max       2.900000
Name: delta_127, dtype: float64

In [15]:
datos['delta_110'].describe()

count    15.000000
mean     -2.973333
std       1.757623
min      -7.700000
25%      -3.500000
50%      -2.600000
75%      -1.900000
max      -0.500000
Name: delta_110, dtype: float64